#titulo {
    color: white
}

body {
    background: rgb(15,32,39);
    background: linear-gradient(90deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 35%, rgba(44,83,100,1) 100%);
    background-image: url(https://pbs.twimg.com/media/ErAu5FsVQAEIi_7.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

p {
    font-size: xx-large;
}

#MioloLogin {
   margin-top: 150px;
   text-align: center;
}

#MioloCadastro {
    margin-top: 150px;
    text-align: center;
 }